doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title title
    // Adiciona o estilo da W3C
    link(rel="css", href="https://www.w3schools.com/w3css/4/w3.css")
  body.w3-container
    block content
