extends layout

block content
  .container
    h1.w3-center Menu
    ul.w3-ul.w3-hoverable
      li
        a(href="http://localhost:7777/compositores") Compositores
      li
        a(href="http://localhost:7777/periodos") Periodo
