extends layout

block content
  .w3-container
    h1.w3-text-teal Menu de periodos

    if lPeriodos.length > 0
      ul.w3-ul
        each periodo in lPeriodos
          li.w3-padding-small
            a(href=`/periodos/${periodo.id}`, class="w3-text-blue")= periodo.nome
            span.w3-margin-left
              a(href=`/periodos/editarP/${periodo.id}`, class="w3-animate-fading") Editar
              a(href=`/periodos/apagarP/${periodo.id}`, class="w3-button w3-small w3-red w3-margin-left") Apagar
    else
      p Não há periodos disponíveis

  // Botões para voltar à página principal e adicionar novo periodo
  .w3-margin-top
    a(href="/", class="w3-button w3-teal") Voltar à Página Principal
    a(href="/periodos/adicionarP", class="w3-button w3-green w3-margin-left") Adicionar periodo