extends layout

block content
  .w3-container
    h1.w3-text-teal Menu de Compositores

    if lCompositores.length > 0
      ul.w3-ul
        each compositor in lCompositores
          li.w3-padding-small
            a(href=`/compositores/${compositor.id}`, class="w3-text-blue")= compositor.nome
            span.w3-margin-left
              a(href=`/compositores/editarC/${compositor.id}`, class="w3-animate-fading") Editar
              a(href=`/compositores/apagarC/${compositor.id}`, class="w3-button w3-small w3-red w3-margin-left") Apagar
    else
      p Não há compositores disponíveis

  // Botões para voltar à página principal e adicionar novo compositor
  .w3-margin-top
    a(href="/", class="w3-button w3-teal") Voltar à Página Principal
    a(href="/compositores/adicionarC", class="w3-button w3-green w3-margin-left") Adicionar Compositor

